CMakeCache.txt
**/build
build/
CMakeFiles
CPM_modules
_deps
build.ninja
cmake_install.cmake
compile_commands.json
cpm-package-lock.cmake
.vscode
.vscode/*.json
.venv
.py-build-cmake*
*.pyc
*.pytest_cache
*.so
*.dot
*.sdf
.rendered.*
docs/_build
benchmarking/si/*
!benchmarking/si/get_si.sh
benchmarking/publication/*
!benchmarking/publication/main.tex
!benchmarking/publication/bibliography.bib
!benchmarking/publication/IEEEtran.cls
!benchmarking/publication/listing*
!benchmarking/publication/figs/